name: Create Release

on:
  push:
    branches: [ "prod" ]

jobs:
  Build_Release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Master
      uses: actions/checkout@v3
      with:
        submodules: true
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release
    - name: Test Build
      run: dotnet test --no-build --verbosity normal
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
    # Artifact name
        name: 'ValheimExportHelper'
    # A file, directory or wildcard pattern that describes what to upload
        path: 'ValheimExportHelper/bin/Release/net6.0/'
    
    - name: Grab Version
      run: |
        VERSION=$(sed -nr "s|.*<Version>(.*)</Version>|\1|p" ValheimExportHelper/ValheimExportHelper.csproj)
        echo "::set-output name=version::$VERSION"
      id: version

    - name: Create Release Zip
      uses: vimtor/action-zip@v1
      with:
        files: ValheimExportHelper/bin/Release/net6.0/
        dest: ValheimExportHelper.zip
      
    - name: Create Release
      uses: softprops/action-gh-release@v1
      id: create_release
      with:
        draft: false
        prerelease: false
        name: ${{steps.version.outputs.version}}
        tag_name: ${{steps.version.outputs.version}}
        body_path: CHANGELOG.md
        files: ValheimExportHelper.zip
      env:
        GITHUB_TOKEN: ${{secrets.PATOKEN}}
